<div class="tab-pane active" id="lg1">
	<div class="login-form-container">
		<div class="login-register-form">
			<form [formGroup]="authForm" (ngSubmit)="onAuthFormSubmit()">
				<div class="form-group">
					<input formControlName="email" placeholder="Email" type="text" />
					@if (emailControl?.invalid && emailControl?.value?.length !== 0) {
						<span class="error-message">Invalid email</span>
					}
				</div>
				<div class="form-group">
					<input formControlName="password" placeholder="Password" type="password" />
					@if (passwordControl?.invalid && passwordControl?.value?.length !== 0) {
						<span class="error-message">Invalid password</span>
					}
				</div>
				<div class="button-box">
					<div class="login-toggle-btn">
						<label for="forgot-password">Remember me</label>
						<input disabled name="forgot-password" type="checkbox" />
						<a href="#">Forgot Password?</a>
					</div>
					<div class="form-group">
						<button
							class="mb-5"
							type="submit"
							[class.login-form-button]="!isLoading()"
							[class.spinner-border]="isLoading()"
							[disabled]="authForm.invalid || isLoading()">
							@if (!isLoading()) {
								Login
							} @else {
								<span class="sr-only">Loading...</span>
							}
						</button>
						@if (loginError()) {
							<span class="error-message">{{ loginError() }}</span>
						}
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
