.login-register-wrapper .login-register-tab-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin-bottom: 40px;
}
.login-register-wrapper .login-register-tab-list a {
	position: relative;
}
.login-register-wrapper .login-register-tab-list a::before {
	background-color: #454545;
	bottom: 5px;
	content: '';
	height: 18px;
	margin: 0 auto;
	position: absolute;
	right: -2px;
	-webkit-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
	transition: all 0.4s ease 0s;
	width: 1px;
}
.login-register-wrapper .login-register-tab-list a h4 {
	font-size: 25px;
	font-weight: 700;
	margin: 0 20px;
	text-transform: capitalize;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}
.login-register-wrapper .login-register-tab-list a:last-child::before {
	display: none;
}
.login-register-wrapper .login-register-tab-list a.active h4 {
	color: #a749ff;
}

@media only screen and (max-width: 767px) {
	.login-register-area.pb-100 {
		padding-bottom: 60px;
	}
}
