<app-dialog class="user-profile-dialog" [open]="open()" (openChange)="onOpenChange($event)">
	@if (user() !== null) {
		<div class="profile-container">
			<img
				class="profile-picture"
				height="512"
				width="512"
				[alt]="user()?.name"
				[ngSrc]="user()?.photo || 'assets/img/default-avatar.png'" />
			<h2 class="profile-name">{{ user()?.name }}</h2>
			<p class="profile-email">{{ user()?.email }}</p>
			<div class="profile-details">
				<span>
					<strong>ID:</strong>
					<span>{{ user()?.id }}</span>
				</span>
				<span>
					<strong>Code:</strong>
					<span>{{ user()?.code }}</span>
				</span>
				<span>
					<strong>Activer:</strong>
					<span>{{ user()?.enabled ? 'Oui' : 'Non' }}</span>
				</span>
				<span>
					<strong>Rôles:</strong>
					<span class="list-in-string">{{ user()?.Roles | formatUserRole }}</span>
				</span>
				<span>
					<strong>Entreprises:</strong>
					<span class="list-in-string">{{ user()?.Companies | formatUserCompanies }}</span>
				</span>
				<span>
					<strong>Dernière connexion:</strong>
					<span>{{ user()?.last_logged_in_at | date: 'dd/MM/yyyy HH:mm' }}</span>
				</span>
				<span>
					<strong>Date de création:</strong>
					<span>{{ user()?.created_at | date: 'dd/MM/yyyy HH:mm' }}</span>
				</span>
			</div>
			<button class="close-button" type="button" (click)="onOpenChange(false)">Fermer</button>
		</div>
	}
</app-dialog>
