<div class="login-register-area pt-100 pb-100">
	<div class="container">
		<div class="row">
			<div class="col-lg-7 col-md-12 ml-auto mr-auto">
				<div class="login-register-wrapper">
					<div class="login-register-tab-list nav">
						<button type="button" [class.active]="isLoginPage()" (click)="isLoginPage.set(true)">
							<h4>login</h4>
						</button>
						<button type="button" [class.active]="!isLoginPage()" (click)="isLoginPage.set(false)">
							<h4>register</h4>
						</button>
					</div>
					<div class="tab-content">
						@if (isLoginPage()) {
							<app-login [isLoading]="isLoading()" [loginError]="loginError()" (loginForm)="onLogin($event)" />
						} @else {
							<app-under-construction />
						}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
