.breadcrumb-content ul li {
	display: inline-block;
	font-size: 15px;
	font-weight: 500;
	color: #5b5858;
	margin-right: 18px;
	text-transform: uppercase;
	position: relative;
}
.breadcrumb-content ul li::before {
	position: absolute;
	width: 18px;
	height: 1px;
	background-color: #5b5858;
	content: '';
	right: -21px;
	top: 12px;
	z-index: 99;
	-webkit-transform: rotate(115deg);
	-ms-transform: rotate(115deg);
	transform: rotate(115deg);
}
.breadcrumb-content ul li:last-child::before {
	display: none;
}
.breadcrumb-content ul li a {
	color: #5b5858;
}
.breadcrumb-content ul li a:hover {
	color: #a749ff;
}
