<app-breadcrumb />
<section class="pt-60 pb-60">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h1>Bienvenue sur Enti Mody</h1>
				<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis a rerum ut fugit corrupti incidunt voluptas. Ratione cum, maxime modi ducimus similique aut, obcaecati repellendus cupiditate delectus voluptates quos mollitia!</p>
				<a class="default-btn" routerLink="/auth/login">Se connecter</a>
			</div>
		</div>
	</div>
</section>