name: CI

on:
  push:
    branches:
      - master
      - dev
  pull_request:
    branches:
      - master
      - dev

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 22

      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - name: Install angular cli
        run: pnpm i -g @angular/cli@19

      - name: Install dependencies
        run: pnpm install

      - name: Run lint
        run: ng lint

      - name: Build application
        run: ng build
